*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 6rem;
    background-color:#fff;
	background-size: cover;
}

.container {
    justify-content: center;
    width: 100%;
}
.container-titulo {
    position: relative;
    display: inline-block;
    top: -1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 1px solid #215D40;
    border-radius: 10px;
    color: white;
    background-color: #215D40;
}
.contenedorForma {
    top: 11rem;
    padding: 2rem;
    padding-top: 0;
    border-radius: 10px;
    border: 1px solid #215D40;
}

.tabla-general {
    border-collapse: collapse;      /* Importante */
    border-spacing: 0; 
    font-family: Arial, sans-serif;
    width: 100%;
    border-radius: 10px;
    overflow: hidden; 
}

.tabla-general th,
.tabla-general td {
    padding: 0.5rem;
    text-align: left;
    border-left: 1px solid black;
}
.tabla-general th:first-child,
.tabla-general td:first-child {
    border-left: none; /* Elimina borde izquierdo de la primera celda */
}

.tabla-general thead {
    background-color: #B7834A;
    color: black;
}
.tabla-general thead th {
    padding: 1rem;
    text-align: justify;
}

.tabla-general tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*COLUMNA DE OPCIONES DE LA TABLA*/
.tabla-general td.col-opciones {
    white-space: nowrap !important;         /* Impide que los botones salten de línea */
    padding: 4px 10px !important;            /* Reduce el padding para hacerlo más compacto */
    text-align: center !important;          /* Centra los botones si hay espacio extra */
    vertical-align: middle !important;
    width: 120px !important;
}

/*Cabecera*/
.header {
    background: #B7834A;
    color: white;
    padding: 1rem 0;
    left: 0;
    top: 0;
    right: 0;
}
.cabecera {
    width: 100%;
    padding: 0 3rem; 
    box-sizing: border-box;
}

.header a {
    color: #215D40;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navbar ul li a:hover {
    background: #215D40;
    color: #d9d6d6;
}
/**menu lateral**/
.sidebar {
    position: fixed;
    top: 5.5rem; /* Altura del header fijo, ajusta según necesidad */
    left: 0;
    height: calc(100vh - 70px); /* Para que no tape el header */
    overflow-y: auto;
    z-index: 1020; /* Debajo del header si es necesario */
    border: 1px solid #B7834A;
    border-radius: 10px;
}

.menu-index {
    position: relative;
    top: 1px;
    padding: 2rem;
    height: calc(95vh - 70px);/*tamaño*/
    border-radius: 10px;
    padding-left: 0;
    padding-right: 0;
}
.container-menu ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
}

.container-menu ul li a {
    width: 100%;
    display: block;
    padding: 0.5rem;
    transition: all 0.4s linear;
    color: #215D40;
    text-decoration: none;
    border-radius: 5px;
}

.container-menu ul li a:hover {
    background: #d9d6d6;
    color: #215D40;
}

/**Calendario CSS**/
.fc-daygrid-day-number {
    color: black; /* color de los números en cada celda */
    font-weight: bold;
    text-decoration: none;
}
.fc-col-header-cell {
    height: 2.5rem;
    background-color: #215D40;
}

.fc-col-header-cell-cushion {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.fc-toolbar-title {
    color: #215D40;
    font-size: 1.5rem;
    font-weight: bold;
}

/*errores*/
label.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}

